*, 
::before,
::after {
    margin:0;
    padding: 0;   
}


.main-div {     
    display: flex;      
    /* justify-content: center; */
    align-items: center;   
    background-color: black;

}

#background-img {
    height: 100vh;
    overflow: hidden;
    width: 30%;     
}

.brand-name {
    background-color: black;
    width: 30%;
    height: 100px;
    position: absolute;
    top: 200px;    
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.brand-name > p {
    font-size: 2.5rem;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.image-by {
    width: 30%;
    height: 100px;
    position: absolute;
    bottom: 0;
    display:flex;
    align-items: center;
    justify-content: center;
}

.image-by > p {
    font-size: 15px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.link {
    text-decoration: underline;
    color: white;
}

.form-area {  
    width: 70%;
    height: 100vh;    
    overflow: hidden;   
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;    
}

.quote {    
    width: 90%;
    padding: 1.7rem;    
    line-height: 28px;     
}

.quote > p {
    margin-bottom: 10px;
    font-size: 18px;
    font-family: monospace;
}

.form {        
    height: 200px;
    /* background-color: brown; */
    padding: 10px;
    box-shadow: 0px 4px 30px rgb(205, 199, 199);
}

.form > p {
    font-size: 18px;
    font-family: monospace;
    padding-left: 6px;
}

.input-areas {
    display: flex;    
}

.form-content {
    padding: 10px;
}

.form-content > input {
    margin-bottom: 12px;  
    width: 200px;
    border: 1px solid rgb(227, 219, 219);
    border-radius: 3px; 
    padding: 5px;
    outline: none;   
}

.form-content > label {
    font-size: 13px;
    font-family: monospace;
    font-weight: bolder;
}

.left {
    margin-right: 15%;
}

.form-input:focus {
    border:  1px solid blueviolet;
    box-shadow: 1px 2px 10px rgb(189, 179, 179);
}


.red-border:invalid {
    border: 1.5px solid red;
}

.create-or-login {    
    padding: 2rem;    
}

.create-or-login > button {
    padding: 10px 30px;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #596D48;
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
}

.create-or-login > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
#log-in {
    text-decoration: none;
    font-weight: 600;
}